.gallery {
    margin-bottom: 150px;
} 
.gallery .box {
    border: 2px solid #000; 
    border-top: none !important; 
    overflow: hidden;
}
.gallery img { 
    width: 400px; 
    height: 200px;
    object-fit: fill;
}
.gallery .box:hover img {
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
    cursor: pointer;
}
.gallery .box_content {
    padding: 10px;
}
.gallery .box_content h6 {
    font-size: 20px; 
    font-weight: 300;
}
.gallery .box_content .btn {
    width: 100%;
}
.gallery .mid {
    margin-top: 80px;
}