@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Global Variable */ 
:root {
    --main: #33FF39;
}
* {
    font-family: "Roboto", serif;
}
*::selection {
    background: var(--main); 
    color: #fff;
}
.btn {
    width: 300px; 
    background: var(--main); 
    color: #fff !important; 
    border-radius: 20px; 
    transition: 0.3s;
}
.btn:hover {
    letter-spacing: 3px; 
    width: 300px;
}